*
!.gitignore

!bin/
!bin/www

!lib/
!lib/*

!public/
!public/**/
!public/**/*
public/components/

!routes/
!routes/*

!test/
!test/**/
!test/**/*

!views/
!views/*

!.bowerrc
!.editorconfig
!.gitignore
!.prettierignore
!Dockerfile
!README.md
!bower.json
!buildx-setup.sh
!buildx.sh
!config.json.sample
!eslint.config.mjs
!gulpfile.js
!prettier.config.js

!package.json
!pnpm-lock.yaml
