{
    "mqttServer": "mqtt://127.0.0.1",
    "mqttOptions": null,
    "mqttTopic": "laser/maintenance",
    "api": {
        "baseUrl": "https://api.vanhack.ca",
        "clientName": "<clientName>",
        "clientSecret": "<clientSecret>"
    }
}