extends layout

block content
    style.
        input {
            width: 100%;
        }
        .error {
            color: red;
        }
    .row 
        .col 
            | &nbsp;
    .row
        .col-md-6.col-md-offset-3
            .panel.panel-default 
                .panel-heading
                    if error 
                        h1.error.panel-title= error 
                    else
                        h1.panel-title Login
                .panel-body
                    form(action="/login", method="POST")
                        p Sign in to #{permission_requested} access using your #[a(href='https://membership.vanhack.ca') NOMOS] credentials
                        p: input#username(type="text", name="username", placeholder="Username or E-Mail address")
                        p: input#password(type="password", name="password", placeholder="Password")
                        input(type="submit", value="Login")
                        p: sub If you are having trouble logging in, or need to reset your password, visit #[a(href='https://membership.vanhack.ca') membership.vanhack.ca].
